body {
text-align: center;
margin-top: 100px;
}
.quiz-box {
    margin-top: 100px;
}
.question-section {
    font-size: 25px;
    margin-bottom: 50px;
}
.option-section {
display: flex;
justify-content: center;
}
.option {
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
}
.option:hover {
    background-color: aqua;
    cursor: pointer;
}